body {
	background-image:url(https://images.unsplash.com/photo-1517644692592-fe1736b46c5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
	--primary-color: #2772b9;
	--secondary-color: #fafafa;
	--tertiary-color: #555555;
}